<h2>Contacto Inicio</h2>
<!-- <div class="container">
    <form #FormContacto="ngForm" (ngSubmit)="onSubmit(FormContacto)"> <!--// Convertir el formulario a uno de angular  (ngSubmit)="onSubmit caputar un evento que tengamos-->
        <!-- <label for="nombre">identificacion</label>
        <input type="text" name="Id" id="" #identificacion="ngModel" [(ngModel)]="inicio.identificacion" required pattern="[0-9]+"> 
    
        <span *ngIf="identificacion.touched && !identificacion.valid">
                identificacion es obligatorio
        </span> -->
    
    <!-- Si ponemos el required sera un campo requirdo y lo tendremos que validar -->

  
